<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Beginner</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" />
    <style>
        body {
            margin: 5%;
            font-family: "Quicksand", sans-serif;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header-component nama="VueJS" gambar="images/logo.png"></header-component>

        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
            <router-link to="/kelas">Kelas</router-link>
        </nav>
        <main>
            <router-view v-bind:items="kelas" v-on:submit-kelas="submitKelas"
                v-on:remove-kelas="removeKelas"></router-view>
        </main>
        <footer-component>
            <p>copyright 2022</p>
        </footer-component>
    </div>
    <script src="js/vue@2.7.14.js"></script>
    <script src="js/vue-router.min.js"></script>
    <script>

        function create_UUID() {
            var dt = new Date().getTime();
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = (dt + Math.random() * 16) % 16 | 0;
                dt = Math.floor(dt / 16);
                return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });
            return uuid;
        }

        const Home = {
            template: `<div>Home</div>`,
        }
        const About = {
            template: `<div>About</div>`,
        }
        const Kelas = {
            props: ['items'],
            template: ` 
            <div>
                <h3>Tambah Kelas</h3>
                
                <form v-on:submit.prevent="submitKelasForm">
                    <p><input type="text" v-model="kelas.judul" placeholder="Nama Kelas"></p>

                    <div class="input-group">
                        <label>Deskripsi: </label><br>
                        <textarea v-model="kelas.deskripsi"></textarea>
                    </div>

                    <div class="input-group">
                        <p><img :src="previewImg" v-if="previewImg" width="200"></p>
                        <label>Masukan Gambar: </label><br>
                        <input type="file" ref="gambar" v-on:change="uploadGambar"/>
                    </div>
                    <br/>
                    <button type="submit">Submit</button>
                </form>

                <hr>
                <h3>Daftar Kelas ({{ items.length }})</h3>

                <template v-if="items.length">
                    <ul>
                        <li v-for="(item, index) of items">{{ index + 1 }} - {{ item.judul }}
                            <a href="" v-on:click.prevent="$emit('remove-kelas', item.id)">Hapus</a>
                        </li>
                    </ul>
                </template>

                <li v-else>Kelas belum tersedia</li>
            </div>`,
            data: function () {
                return {
                    kelas: {
                        judul: '',
                        deskripsi: '',
                        gambar: '',
                    },
                    previewImg: ""
                }
            },
            methods: {
                submitKelasForm: function () {
                    const data = {
                        id: create_UUID(),
                        judul: this.kelas.judul,
                        deskripsi: this.kelas.deskripsi,
                        gambar: this.kelas.gambar
                    }
                    this.$emit('submit-kelas', data)

                    this.kelas.judul = ''
                    this.kelas.deskripsi = ''
                    this.kelas.gambar = ''
                    this.previewImg = ''
                    this.$refs.gambar.value = ''
                },
                uploadGambar: function (event) {
                    const namaGambar = event.target.files[0].name
                    this.kelas.gambar = namaGambar
                    this.previewImg = URL.createObjectURL(event.target.files[0])
                }
            }
        }
        Vue.component('header-component', {
            props: ['nama', 'gambar'],
            template: `<header>
                        <img :src="gambar" alt="" width="100" />
                        <p>The Progressive Javascript Framework</p>
                        <p v-text="pesan"></p>
                        <p>{{ 'Hello ' + nama }}</p>
                       </header>`,
            data: function () {
                return {
                    pesan: 'Hello, Guys!'
                }
            }
        })

        Vue.component('footer-component', {
            template: `<footer id="footer"> 
                        <slot></slot>
                       </footer>`
        })

        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/kelas', component: Kelas },
        ]

        const router = new VueRouter({
            mode: 'history',
            routes // short for routes:routes
        })

        const vm = new Vue({
            el: '#app',
            router,
            components: {
                'home-component': Home,
            },
            data: {
                kelas: [
                    { id: 1, judul: 'VueJS', deskripsi: 'The Progressive Javascript Framework', gambar: './images/logo.png' },
                    { id: 2, judul: 'ReactJS', deskripsi: 'A Javascript library for building user interfaces', gambar: './images/react_icon.png' },
                ],
            },
            methods: {
                removeKelas: function (id) {
                    this.kelas = this.kelas.filter(item => item.id != id)
                },
                submitKelas: function (data) {
                    this.kelas.push(data)
                }
            },
            computed: {

            }
        });

        Vue.config.devtools = true
    </script>
</body>

</html>