<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Beginner</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" />
    <style>
        body {
            margin: 5%;
            font-family: "Quicksand", sans-serif;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header-component nama="VueJS" gambar="images/logo.png"></header-component>

        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
            <router-link to="/kelas">Kelas</router-link>
        </nav>
        <main>
            <!-- <kelas-component v-bind:items="kelas" v-on:submitKelas="submitKelas" v-on:removeKelas="removeKelas"></kelas-component> -->
            <!-- <home-component></home-component> -->
            <router-view v-bind:items="kelas" v-on:submit-kelas="submitKelas"
                v-on:remove-kelas="removeKelas"></router-view>
        </main>
        <footer-component>
            <p>copyright 2022</p>
        </footer-component>
    </div>
    <script src="js/vue@2.7.14.min.js"></script>
    <script src="js/vue-router.min.js"></script>
    <script>
        const Home = {
            template: `<div>Home</div>`,
        }
        const About = {
            template: `<div>About</div>`,
        }
        const Kelas = {
            props: ['items'],
            template: ` 
            <div>
                <h3>Tambah Kelas</h3>
                <p>
                    <input type="text" placeholder="Programming Name" v-on:keyup.enter="$emit('submit-kelas', $event)">
                </p>

                <hr>
                <h3>Total Kelas ({{ items.length }})</h3>

                <template v-if="items.length">
                    <ul>
                        <li v-for="(item, index) of items">{{ index + 1 }} - {{ item }}
                            <a href="" v-on:click.prevent="$emit('remove-kelas', index)">Remove</a>
                        </li>
                    </ul>
                </template>

                <li v-else>Kelas belum tersedia</li>
            </di>`,
            data: function () {
                return {

                }
            },
            methods: {

            }
        }
        Vue.component('header-component', {
            props: ['nama', 'gambar'],
            template: `<header>
                        <img :src="gambar" alt="" width="100" />
                        <p>The Progressive Javascript Framework</p>
                        <p v-text="pesan"></p>
                        <p>{{ 'Hello ' + nama }}</p>
                       </header>`,
            data: function () {
                return {
                    pesan: 'Hello, Guys!'
                }
            }
        })

        Vue.component('footer-component', {
            template: `<footer id="footer"> 
                        <slot></slot>
                       </footer>`
        })

        //Vue.component('kelas-component', {
        //})

        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/kelas', component: Kelas },
        ]

        const router = new VueRouter({
            mode: 'history',
            routes // short for routes:routes
        })

        const vm = new Vue({
            el: '#app',
            router,
            components: {
                'home-component': Home,
            },
            data: {
                kelas: [
                    { id: 1, judul: 'VueJS', deskripsi: 'The Progressive Javascript Framework', gambar: './images/logo.png' },
                    { id: 2, judul: 'ReactJS', deskripsi: 'A Javascript library for building user interfaces', gambar: './images/react_icon.png' },
                ],
            },
            methods: {
                removeKelas: function (index) {
                    this.kelas.splice(index, 1)
                },
                submitKelas: function (event) {
                    const text = event.target.value
                    this.kelas.unshift(text)
                }
            },
            computed: {

            }
        });
    </script>
</body>

</html>